
@switch (Type)
{
    case MessageTypes.Info:
        <div id="messagePopup" class="alert alert-info mt-5 @(!IsVisible ? "tza-object-hidden" : "")">
            <span>@Message</span>
        </div>
        break;
    case MessageTypes.Success:
        <div id="messagePopup" class="alert alert-success mt-5 @(!IsVisible ? "tza-object-hidden" : "")">
            <span>@Message</span>
        </div>
        break;
    case MessageTypes.Warning:
        <div id="messagePopup" class="alert alert-warning mt-5 @(!IsVisible ? "tza-object-hidden" : "")">
            <span>@Message</span>
        </div>
        break;
    case MessageTypes.Danger:
        <div id="messagePopup" class="alert alert-danger mt-5 @(!IsVisible ? "tza-object-hidden" : "")">
            <span>@Message</span>
        </div>
        break;
    default:
        break;
}

@code {
    [Parameter]
    public string Message { get; set; } = "Nothing to display";

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public MessageTypes Type { get; set; }

    public enum MessageTypes
    {
        Info = 0,
        Success = 1,
        Warning = 2,
        Danger = 3,
    }

}