@using WEB.Shop.Application.Crawlers
@using WEB.Shop.Application.Enums
@inject CrawlersCommander Commander


@if (!crawlersTabLoading)
{
    <!-- Card -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <!-- Crawlers Card -->
                        <div class="card tza-card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-bug fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>Data in Cache</h5>
                                        <h3>@Commander.DataCacheCount.Sum(s => s.Value)</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-secondary">
                                <button @onclick="RunEngine" class="bg-transparent border-0">
                                    <i class="fas fa-sync mr-3 tza-nav-icon"></i>
                                    <span>Run all crawlers</span>
                                </button>
                                <button @onclick="ClearCache" class="bg-transparent border-0">
                                    <i class="fas fa-cut mr-3 tza-nav-icon"></i>
                                    <span>Clear Cache</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tables -->
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-3 mb-xl-0">
                        <h3 class="text-muted text-center">Payments</h3>
                        <table class="table table-light table-hover text-center rounded">
                            <thead>
                                <tr class="text-muted">
                                    <th>Shop</th>
                                    <th>Data</th>
                                    <th>Run Crawler</th>
                                    <th>Clear Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Shops shop in (Shops[])Enum.GetValues(typeof(Shops)))
                                {
                                    <tr>
                                        <td>@shop.ToString()</td>
                                        <td>@Commander.DataCachePromoCount[shop.ToString()] / @Commander.DataCacheCount[shop.ToString()]</td>
                                        <td><button type="button" class="btn btn-info btn-sm" @onclick="(() => RunEngine(activeShop))">Run</button></td>
                                        <td><button type="button" class="btn btn-warning btn-sm" @onclick="(() => ClearCache(activeShop))">Clear</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6 col-12 mb-3 mb-xl-0">
                        <h4 class="text-muted text-center">Data in Memory</h4>
                        <div class="bg-light text-dark p-4 rounded">
                            @{
                                double totalProducts = Commander.DataCacheCount.Sum(s => s.Value);
                                double avg = (totalProducts / Enum.GetNames(typeof(Shops)).Length);

                                @foreach (Shops shop in (Shops[])Enum.GetValues(typeof(Shops)))
                                {
                                    double shopProducts = Commander.DataCacheCount[shop.ToString()];
                                    double shopShare = totalProducts == 0 ? 0 : Math.Round(((shopProducts / totalProducts) * 100), 2);

                                    string color = "bg-danger";

                                    if (shopShare >= 0 && shopShare <= (avg * 0.2))
                                    {
                                        color = "bg-danger";
                                    }
                                    else if (shopShare >= (avg * 0.21) && shopShare <= (avg * 0.7))
                                    {
                                        color = "bg-warning";
                                    }
                                    else
                                    {
                                        color = "bg-success";
                                    }

                                    <h6 class="mb-3 text-center">@shop.ToString()</h6>
                                    <div class="progress mb-4" style="height: 20px">
                                        <div class="progress-bar text-dark text-center progress-bar-striped font-weight-bold @color" style="width: @($"{ shopShare }%")">
                                            @($"{ shopShare }%")
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <h5>Loader here</h5>







}

}

@code {

    private bool crawlersTabLoading;

    private Shops activeShop = Shops.Biedronka;
    private bool activeAll = false;


    protected override async Task OnInitializedAsync()
    {

    }

    private void SelectShop(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            activeAll = false;
            activeShop = shop;
            crawlersTabLoading = false;
        }
    }

    private void SelectAllShops()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            activeAll = true;
            crawlersTabLoading = false;
        }
    }

    #region Crawlers

    private async Task RunEngine()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.RunEngineAsync();
            crawlersTabLoading = false;
        }
    }

    private async Task RunEngine(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.RunEngineAsync(shop.ToString());
            crawlersTabLoading = false;
        }
    }

    private async Task ClearCache()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.ClearCacheAsync();
            crawlersTabLoading = false;
        }
    }

    private async Task ClearCache(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.ClearCacheAsync(shop.ToString());
            crawlersTabLoading = false;
        }
    }

    #endregion

}
