@using WEB.Shop.Application.Crawlers
@using WEB.Shop.Application.Enums
@inject CrawlersCommander Commander


<div class="tabs is-centered">
    <ul>
        <li><a @onclick="SelectCrawlersTab">Crawlers</a></li>
        <li><a @onclick="SelectDatabaseTab">Database</a></li>
    </ul>
</div>


@switch (activeTab)
{
    case ActiveTab.Main:

        @if (crawlersTabLoading)
        {
            <div class="block">
                <progress class="progress is-small is-warning" max="100">25%</progress>
            </div>
        }

        <aside class="menu">
            <p class="menu-label">Crawlers</p>
            <ul class="menu-list">
                @foreach (Shops shop in (Shops[])Enum.GetValues(typeof(Shops)))
                {
                    <li>
                        <div class="columns">
                            <div class="column is-2">
                                <a @onclick="(() => SelectShop(shop))">@shop.ToString()</a>
                            </div>
                            <div class="column is-2">
                                <div class="tags has-addons">
                                    <span class="tag">Cached Data</span>
                                    @if (Commander.DataCache[shop.ToString()] != 0)
                                    {
                                        <span class="tag is-warning">@Commander.DataCache[shop.ToString()]</span>
                                    }
                                    else
                                    {
                                        <span class="tag is-success">@Commander.DataCache[shop.ToString()]</span>
                                    }
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="tags has-addons">
                                    <span class="tag">Crawler Status</span>
                                    <span class="tag is-success">No Issues</span>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <li>
                    <div class="columns">
                        <div class="column is-2">
                            <a @onclick="SelectAllShops">All</a>
                        </div>
                        <div class="column is-2">
                            <div class="tags has-addons">
                                <span class="tag">Cached Data</span>
                                @if (Commander.Results.Count != 0)
                                {
                                    <span class="tag is-warning">@Commander.Results.Count</span>
                                }
                                else
                                {
                                    <span class="tag is-success">@Commander.Results.Count</span>
                                }
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="tags has-addons">
                                <span class="tag">Crawler Status</span>
                                <span class="tag is-success">No Issues</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <div class="box">
            @if (activeAll)
            {
                <p class="content ">Options for All</p>
                <button class="button is-warning" @onclick="RunEngine">Run Engine for All Crawlers</button>
                <button class="button is-danger" @onclick="ClearCache">Clear All</button>
            }
            else
            {
                <p class="content">Options for @activeShop.ToString()</p>
                <button class="button is-warning" @onclick="(() => RunEngine(activeShop))">Run Crawler for @activeShop.ToString()</button>
                <button class="button is-danger" @onclick="(() => ClearCache(activeShop))">Clear data for @activeShop.ToString()</button>
            }
        </div>

        break;

    case ActiveTab.Database:

        @if (databaseTabLoading)
        {
            <div class="block">
                <progress class="progress is-small is-warning" max="100">25%</progress>
            </div>
        }

        <aside class="menu">
            <p class="menu-label">Data Base</p>
            <ul class="menu-list">
                @foreach (Shops shop in (Shops[])Enum.GetValues(typeof(Shops)))
                {
                    <li>
                        <div class="columns">
                            <div class="column is-2">
                                <a @onclick="(() => SelectShop(shop))">@shop.ToString()</a>
                            </div>
                            <div class="column is-2">
                                <div class="tags has-addons">
                                    <span class="tag">Cached Data</span>
                                    @if (Commander.DataBaseCheck.Where(x => x.Shop == shop.ToString()).ToList().Count != 0)
                                    {
                                        <span class="tag is-warning">@Commander.DataBaseCheck.Where(x => x.Shop == shop.ToString()).FirstOrDefault()?.ProductsCount</span>
                                    }
                                    else
                                    {
                                        <span class="tag is-success">0</span>
                                    }
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="tags has-addons">
                                    <span class="tag">Crawler Status</span>
                                    <span class="tag is-success">No Issues</span>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="tags has-addons">
                                    <span class="tag">Oldest Record</span>
                                    @{
                                        var olderstRecord = Commander.DataBaseCheck
                                            .Where(x => x.Shop == shop.ToString()).FirstOrDefault()?
                                            .OldestEntry;

                                        if (olderstRecord != null)
                                        {

                                            var offerTime = DateTime.Now - (DateTime)olderstRecord;

                                            var days = offerTime.Days;
                                            var hours = offerTime.Hours;
                                            var minutes = offerTime.Minutes;


                                            if (days < 3 && days != 0)
                                            {
                                                <span class="tag is-warning">@olderstRecord.ToString()</span>
                                            }
                                            else if (days > 2 && days != 0)
                                            {
                                                <span class="tag is-danger">@olderstRecord.ToString()</span>
                                            }
                                            else
                                            {
                                                <span class="tag is-success">@olderstRecord.ToString()</span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="tag is-warning">No data</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                <li>
                    <div class="columns">
                        <div class="column is-2">
                            <a @onclick="SelectAllShops">All</a>
                        </div>
                        <div class="column is-2">
                            <div class="tags has-addons">
                                <span class="tag">Cached Data</span>
                                @if (@Commander.DataBaseCheck.Sum(x => x.ProductsCount) != 0)
                                {
                                    <span class="tag is-warning">@Commander.DataBaseCheck.Sum(x => x.ProductsCount)</span>
                                }
                                else
                                {
                                    <span class="tag is-success">@Commander.DataBaseCheck.Sum(x => x.ProductsCount)</span>
                                }
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="tags has-addons">
                                <span class="tag">Crawler Status</span>
                                <span class="tag is-success">No Issues</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <div class="box">
            @if (activeAll)
            {
                <p class="content">Options for All</p>
                <button class="button is-warning" @onclick="UpdateDataBase">Update Data Base</button>
                <button class="button is-danger" @onclick="ClearDataBase">Delete All Data</button>
            }
            else
            {
                <p class="content">Options for @activeShop.ToString()</p>
                <button class="button is-warning" @onclick="(() => UpdateDataBase(activeShop))">Load data for @activeShop.ToString()</button>
                <button class="button is-danger" @onclick="(() => ClearDataBase(activeShop))">Delete data for @activeShop.ToString()</button>
            }
        </div>

        <div class="box">
            <p class="content">Data Base Options</p>
            <button class="button is-success" @onclick="RefreshDataBaseSummary">Check DataBase Data</button>
        </div>
        break;

    default:
        activeTab = ActiveTab.Main;
        break;
}

@code {

    private bool crawlersTabLoading;
    private bool databaseTabLoading;

    private Shops activeShop = Shops.Biedronka;
    private bool activeAll = false;

    private ActiveTab activeTab = ActiveTab.Main;

    private enum ActiveTab
    {
        Main,
        Database,
    }

    protected override async Task OnInitializedAsync()
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.CheckDataBase();
            databaseTabLoading = false;
        }
    }

    private void SelectShop(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            activeAll = false;
            activeShop = shop;
            crawlersTabLoading = false;
        }
    }

    private void SelectAllShops()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            activeAll = true;
            crawlersTabLoading = false;
        }
    }

    private void SelectCrawlersTab()
    {
        activeTab = ActiveTab.Main;
    }

    private void SelectDatabaseTab()
    {
        activeTab = ActiveTab.Database;
    }

    #region Crawlers

    private async Task RunEngine()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.RunEngineAsync();
            crawlersTabLoading = false;
        }
    }

    private async Task RunEngine(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.RunEngineAsync(shop.ToString());
            crawlersTabLoading = false;
        }
    }

    private async Task ClearCache()
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.ClearCacheAsync();
            crawlersTabLoading = false;
        }
    }

    private async Task ClearCache(Shops shop)
    {
        if (crawlersTabLoading)
        {
            return;
        }
        else
        {
            crawlersTabLoading = true;
            await Commander.ClearCacheAsync(shop.ToString());
            crawlersTabLoading = false;
        }
    }

    #endregion

    #region Database

    private async Task RefreshDataBaseSummary()
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.CheckDataBase();
            databaseTabLoading = false;
        }
    }

    private async Task ClearDataBase()
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.ClearDataBaseAsync();
            databaseTabLoading = false;
        }
    }

    private async Task ClearDataBase(Shops shop)
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.ClearDataBaseAsync(shop.ToString());
            databaseTabLoading = false;
        }
    }

    private async Task UpdateDataBase()
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.UpdateAllData();
            databaseTabLoading = false;
        }
    }

    private async Task UpdateDataBase(Shops shop)
    {
        if (databaseTabLoading)
        {
            return;
        }
        else
        {
            databaseTabLoading = true;
            await Commander.UpdateDataBase(shop.ToString());
            databaseTabLoading = false;
        }
    }

    #endregion

}