@page
@model WEB.Shop.UI.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron-fluid">
    <div class="text-center rgba-stylish-strong py-5 px-4 ">
        <div class="py-5">
            <h1 class="display-4" style="background-color: #000000; opacity: 0.8">Witaj w Tanim Żarciu!</h1>
            <p class="lead" style="background-color: #000000; opacity: 0.8">Na naszych półkach znajdziesz produkty między innym z Lidla, Biedronki i Kauflandu! </p>
            <hr class="my-4">
            <p style="background-color: #000000; opacity: 0.8">Poszperaj i sprawdź kto oferuje najlepsze promocje. Skorzystaj z koszyka i zobacz ile zapłacisz za konkretne produkty. Użyj porównywarki i sprawdź, gdzie warto się wybrać na zakupy!</p>

            <form method="post" asp-page-handler="AllShops">
                <button class="button1" type="submit">Poszperaj!</button>
            </form>

            <p class="lead">
            </p>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <h3>Top promocje w tym tygodniu!</h3>
    <h5>Kliknij 'Sprawdź' i zobacz jakie promocje znaleźliśmy na sklepowych półkach. </h5>
</div>

<div class="container-fluid mt-3 mb-7 block d-flex align-items-center justify-content-center">
    <div class="l-container">
        @foreach (var shop in Model.Shops)
        {
            <a class="game-card" asp-page-handler="@shop">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap"
                     src="~/content/sales/Sale1.jpg"/>
                    <div class="card-body">
                        <h4 class="card-title">@shop</h4>
                        <p class="card-text">
                            liczba produktów - @Model.Products[shop]
                        </p>
                        <p class="card-text">
                            liczba wykrytych promocji - @Model.ProductsOnSale[shop]
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<!--<div class="container-fluid mt-3 mb-7 block d-flex align-items-center justify-content-center">
    <div class="l-container">
        @foreach (var shop in Model.Shops)
        {
            <a class="card1" asp-page-handler="@shop">
                <div class="card cover">
                    <img class="card-img-top" alt="Card image cap"
                         src="~/images/claudio-schwarz-purzlbaum-KcPK_kzqWC8-unsplash.jpg" />
                    <div class="card-body">
                        <h4 class="card-title">@shop</h4>
                        <p class="card-text">
                            liczba produktów - @Model.Products[shop]
                        </p>
                        <p class="card-text">
                            liczba wykrytych promocji - @Model.ProductsOnSale[shop]
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
-->
