@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <form method="post">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" asp-for="@Model.SearchString" type="text" placeholder="Nazwa produktu...">
                </div>
                <div class="control">
                    <button class="button is-info" type="submit">
                        Szukaj
                    </button>
                </div>
            </div>
        </form>

        <div class="block">
            <nav class="pagination is-rounded">
                <ul class="pagination-list">
                    @if (Model.ShowFirst)
                    {
                        <li>
                            <a asp-page="/Index" asp-route-CurrentPage="1" class="pagination-link">Początek</a>
                        </li>
                    }

                    @if (Model.ShowPrevious)
                    {
                        <li>
                            <a asp-page="/Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="pagination-link">Poprzednia Strona</a>
                        </li>
                    }

                    @if (Model.ShowNext)
                    {
                        <li>
                            <a asp-page="/Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="pagination-link">Następna Strona</a>
                        </li>
                    }

                    @if (Model.ShowLast)
                    {
                        <li>
                            <a asp-page="/Index" asp-route-CurrentPage="@(Model.TotalPages)" class="pagination-link">Koniec</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <div class="section">
            <div class="columns is-multiline is-mobile">
                @foreach (var p in Model.Products)
                {
                    <div class="column is-3-desktop is-4-tablet is-6-mobile">
                        <a asp-page="Product" asp-route-name="@p.Name.Replace(" ","-")">
                            <div class="card">
                                <div class="card-content">
                                    @{
                                        string cssClass = "";
                                        string message = "";

                                        if (p.StockCount == 0)
                                        {
                                            cssClass = "is-danger";
                                            message = "Nie ma na stanie!";
                                        }
                                        else if (p.StockCount <= 10)
                                        {
                                            cssClass = "is-warning";
                                            message = "Mało na stanie!";
                                        }
                                    }
                                    @if (p.StockCount <= 10)
                                    {
                                        <div class="notification is-paddingless has-text-centered @cssClass">
                                            @message
                                        </div>
                                    }

                                    <p class="title is-size-5">
                                        @p.Name
                                        <br />
                                    </p>
                                    <p class="subtitle">
                                        @p.Description
                                    </p>
                                    <p class="subtitle is-bold">
                                        @p.Value
                                    </p>
                                    <p class="subtitle is-bold">
                                        @p.Seller
                                    </p>
                                    <p class="subtitle is-bold">
                                        @p.SourceUrl
                                    </p>
                                    <p class="subtitle is-bold">
                                        @p.TimeStamp.ToString("yyyy/MM/dd HH:mm")
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>