@page "{name}"
@model WEB.Shop.UI.Pages.ProductModel

<div id="product" class="container-fluid">
    <div class="card mb-4 h-100">
        <div>
            <header class="main-header mb-2 pt-4">
            </header>
            <div class="row">
                <div class="col-6">
                    <div>
                        <h4 class="pt-2 ml-4">@Model.Product.Seller</h4>

                    </div>
                    <div>
                        <p class="pt-2 ml-4">@Model.Product.Name</p>
                    </div>

                    <div>
                        <h5 class="pt-2 ml-4">@Model.Product.Value</h5>
                    </div>
                    <div>
                        <a class="btn btn-warning pt-2 ml-4" href="@Model.Product.SourceUrl" target="_blank">Zobacz na stronie sklepu!</a>
                    </div>
                </div>
                <div class="col-6">
                    <form method="post">
                        <div>
                            <div>
                                <div class="text-danger font-weight-bold pb-2 pt-2 ml-4">@Model.Product.Description?.Replace("!PROMOCJA!", "")</div>

                                <label class="card-title pt-2 ml-4">Sprzedawca</label>
                            </div>

                            <div>
                                <select class="border border-warning ml-4" asp-for="CartViewModel.StockId" onchange="toggleStock(event)">
                                    @foreach (var s in Model.Product.Stock)
                                    {
                                        bool disabled = s.Quantity <= 0;
                                        <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div>
                            <div>
                                <label class="card-title pt-2 ml-4">Ilość</label>
                            </div>

                            <div>
                                <div>
                                    <input class="input ml-4 border border-warning" min="0" asp-for="CartViewModel.Quantity" value="1" />
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Product.Description))
                                {
                                    <p class="card-text text-danger font-weight-bold pb-2 pt-2 ml-4">PROMOCJA!</p>
                                }
                            </div>

                        </div>

                        <div>
                            <div>
                                <button class="btn btn-warning ml-4 mt-3" type="submit">Dodaj do Koszyka!</button>
                            </div>
                        </div>
                    </form>

                    <form method="post" asp-page-handler="Return">
                        <div>
                            <button class="btn btn-warning mt-3 ml-4 mb-4" type="submit">Wróć!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    var toggleStock = function (e) {

        var stockToHide = document.querySelectorAll('.low-stock');

        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        })

        showLowStock(e.target.value);
    }

    var showLowStock = function (id) {

        var stockToShow = document.getElementById('low-stock-' + id);

        if (stockToShow !== null && stockToShow !== undefined)
            stockToShow.classList.remove('is-hidden');
    }

    showLowStock(document.getElementById('CartViewModel_StockId').value);

</script>
