@page "{name}"
@model WEB.Shop.UI.Pages.ProductModel


<div class="container">

    <div class="container m-auto p-5" id="section2">
        <h3 class="text-center m-5">Witaj na stronie produktu!</h3>
        <div class="row">
            <div class="col m-auto">
                <img class="" src="~/images/icons8-add-shopping-cart-100.png" />
                <p>
                    Dodaj produkt do koszyka i sprawdź ile mógłbyś zapłacić korzystając z promocji.
                </p>
            </div>

            <div class="col m-auto">
                <img class="" src="~/images/icons8-online-shop-card-payment-100.png" />
                <p>
                    Sprawdź produkt bezpośrednio na stronie sklepu.
                </p>
            </div>
            <div class="col m-auto">
                <img class="" src="~/images/icons8-undo-100 -2.png" />
                <p>
                    Wróć do wyszukiwarki.
                </p>
            </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-12 ">
            <div class="card m-auto product-card">
                <div class="pc-body">
                    <h4 class="pt-2 ml-4">@Model.Product.Seller</h4>
                    <p class="pt-2 ml-4">@Model.Product.Name</p>
                    <h5 class="text-danger font-weight-bold pt-2 ml-4">@Model.Product.Value</h5>
                </div>
                <div class="discount-2">
                    <p class="discount-1 font-weight-bold text-dark">@($"{String.Format("-{0:P0}", Model.Product.Discount)}")</p>
                </div>
                <form method="post">
                    <input type="hidden" value="@Model.Product.Id" name="id" />
                    <button data-toggle="tooltip" title="Dodaj do koszyka" class="button-img cart-2" type="submit"></button>
                </form>
                <a data-toggle="tooltip" title="Przejdź na stronę sklepu" href="@Model.Product.SourceUrl" target="_blank" class="shop-2">
                    <img src="~/images/icons8-online-shop-card-payment-100.png" />
                </a>
                <a class="return" data-toggle="tooltip" title="Wróć" asp-page-handler="Return">
                    <img src="~/images/icons8-undo-100 -2.png" />
                </a>
            </div>
        </div>
    </div>

</div>
