@page
@model ProductsOverviewModel

<div class="container m-auto">

    <div class="row ">
        <div class="col-lg-12">
            <div class="row" id="search-product">
                <div class=" col-12 d-flex align-items-center justify-content-center pb-3">
                    <h4 class="p-2 mb-1 mt-2">Co znaleźliśmy? Liczba produktów - @Model.Count</h4>
                </div>
                <form method="post">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group md-form form-sm form-2 p-0">
                                <input class="form-control " asp-for="@Model.SearchString" type="text" placeholder="Nazwa produktu..." aria-label="Search">
                            </div>
                            <small id="passwordHelpBlock" class="form-text text-muted p-3">
                                Produkt: @(String.IsNullOrEmpty(Model.SearchString) ? "Wszystkie dostępne produkty" : Model.SearchString)
                                Sklep: @Model.SelectedShop
                            </small>
                        </div>

                        <div class="col-8 md-form form-sm form-2">

                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="SelectedShop">
                                    <option selected value="Wszystkie">Wszystkie sklepy</option>
                                    @foreach (var shop in Model.Shops)
                                    {
                                        <option value="@shop">@shop</option>
                                    }>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-warning" type="submit" asp-page-handler="Search">Szukaj</button>
                                    <button class="btn btn-outline-warning" type="submit" asp-page-handler="ShowAll">Pokaż Wszystko</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="block d-flex align-items-center justify-content-center">
                <partial name="_ProductsPagination" model="Model" />
            </div>
        </div>
        <section>
            <div class="container card-columns">
                @foreach (var p in Model.Products)
                {
                    var imagePath = $"/ShopCardImage/{p.Seller}-card-image.jpg";

                    <div class="card card-product">

                        <img class="card-img-top img-product" src="@imagePath" alt="Card image cap" />

                        <div class="card-body">
                            @if (p.OnSale)
                            {
                                <p class="card-text text-danger font-weight-bold pb-2 text-center text-uppercase">PROMOCJA! @(p.SaleDescription ?? $" {p.SaleDescription}")</p>
                            }
                            else
                            {
                                <p class="card-text text-danger font-weight-bold pb-2 text-center text-uppercase">Normalna Cena</p>
                            }
                            <a asp-page="Product" asp-route-name="@p.Id.ToString()" />
                            <p class="card-text text-center text-dark" style="font-size: 12px">@p.Name</p>

                            @if (p.OnSale)
                            {
                                if (!(p.SaleValue.Contains("0.00") || p.SaleValue.Contains("0,00")))
                                {
                                    <p class="card-text text-danger text-center font-weight-bold">
                                        <del>@p.SaleValue</del>
                                    </p>
                                    <p class="card-text text-center font-weight-bold text-dark" style="font-size: 15px">
                                        @p.Value
                                    </p>
                                    <p class="card-text text-danger text-center font-weight-bold">
                                        @($"{String.Format("Obniżka: {0:P2}", p.Discount)}")
                                    </p>
                                }
                                else
                                {
                                    <p class="card-text text-danger text-center font-weight-bold">
                                        @p.Value
                                    </p>
                                }
                            }
                            else
                            {
                                <p class="card-text  text-danger text-center font-weight-bold">
                                    @p.Value
                                </p>
                            }

                        </div>
                    </div>

                }
            </div>
        </section>
        <div class="col-12">
            <div class="block d-flex align-items-center justify-content-center">
                <partial name="_ProductsPagination" model="Model" />
            </div>
        </div>
    </div>
</div>
