@model NewsPageViewModel

<div class="container-fluid product">
    <div>
        <h1 class="mine-title text-center mt-4 mb-4"style="color: #ffffff; font-size: 55px;">Aktualności</h1>
    </div>
    <div class="container mb-5">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item nav-tabs-item">
                <a class="nav-link nav-tabs-link " asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="1">Wszystko</a>
            </li>
            @foreach (var category in Model.Categories)
            {
                //@(($"{ViewContext.RouteData.Values["Controller"].ToString()}/{ViewContext.RouteData.Values["Action"].ToString()}").Contains("UsersPanel") ? "klasa na aktywny link" : ""
                <li class="nav-item nav-tabs-item">
                    <a class="nav-link nav-tabs-link" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="1"
                       asp-route-category="@category">@category</a>
                </li>
            }
        </ul>
    </div>
    <div class="container">
        <div> <partial name="_NewsPagination" model="Model" /></div>
        <div class="row">
            @foreach (var singleNews in Model.News)
            {
                var imageNews = $"/Image/{singleNews.ImagePath}";
                <div class="col-sm-6">
                    <a class="mine-post" asp-controller="News" asp-action="SingleNewsDisplay" asp-route-id="@singleNews.Id">
                        <div class="card1 text-white">
                            <div class="cover">
                                <img class="card-img" src="@imageNews" alt="Card image">
                                <div class=" card-img-overlay">
                                    <div class="blur">
                                        <h5 class="card-title">
                                            <span>
                                                @singleNews.Title
                                            </span>
                                            <span>
                                                @singleNews.Created.ToShortDateString()
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div><partial name="_NewsPagination" model="Model" /></div>
    </div>
</div>
