@model NewsPageViewModel

<div class="mine-main-img">
    <span class="mine-title">Aktualności</span>
</div>

<div class="container">
    <a class="mine-post" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="1">Wszystko</a>

    @foreach (var category in Model.Categories)
    {
        <a class="mine-post" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="1"
           asp-route-category="@category">@category</a>
    }
</div>

<div class="container">
    @foreach (var singleNews in Model.News)
    {
        var imageNews = $"/Image/{singleNews.ImagePath}";
        <div class="mine-container">
            <a class="mine-post" asp-controller="News" asp-action="SingleNewsDisplay" asp-route-id="@singleNews.Id">
                <img src="@imageNews" width="500" />
                <span class="mine-title">
                    @singleNews.Title --- @singleNews.Category --- @singleNews.Created.ToShortDateString()
                </span>
            </a>
        </div>
    }
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="@(Model.PageNumber - 1)"
                           asp-route-category="@Model.Category">Wróć</a>
                    </li>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {       
                    string activeClass = i == Model.PageNumber ? "active" : "";

                    <li class="page-item">
                        <a class="page-link" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="@i"
                           asp-route-category="@Model.Category">@i</a>
                    </li>
                }
                @if (Model.NextPage)
                {
                    <li class="page-item">

                        <a class="page-link" asp-controller="News" asp-action="NewsOverview" asp-route-pageNumber="@(Model.PageNumber + 1)"
                           asp-route-category="@Model.Category">Dalej</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>



