@model WEB.Shop.UI.ViewModels.News.NewsViewModel

<div class="container-fluid product">
    <div class="mine-post mine-no-shadow">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            var imagePath = $"/Image/{Model.ImagePath}";
            <img src="@imagePath" />
            <span class="mine-title">@Model.Title</span>
        }
    </div>
    <div class="mine-post-body">
        @Html.Raw(Model.Body)
    </div>









    @*<div class="container">
        <div>
            <partial name="_MainComment" model="@(new NewsCommentViewModel { NewsId = Model.Id, NewsMainCommentId = 0 })" />
        </div>

        @foreach (var comment in Model.MainComments)
        {
            <p>@comment.Message --- @comment.Created</p>
            <a asp-controller="News" asp-action="DeleteMainComment" asp-route-newsId="@Model.Id" asp-route-commentId="@comment.Id">
                Delete
            </a>

            <div>
                <h5>Sub Comments</h5>
                <div>
                    <partial name="_MainComment" model="@(new NewsCommentViewModel { NewsId = Model.Id, NewsMainCommentId = comment.Id })" />
                </div>
                @foreach (var subComment in comment.SubComments)
                {
                    <p>@subComment.Message --- @subComment.Created</p>
                    <a asp-controller="News" asp-action="DeleteSubComment" asp-route-newsId="@Model.Id" asp-route-commentId="@subComment.Id">
                        Delete
                    </a>
                }
            </div>
        }
    </div>*@
</div>